<!DOCTYPE html>
<html>
<head>
    <title>Employee Management System</title>
</head>
<link rel="stylesheet" href="style.css">

<style>
    ul.navbar {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    ul.navbar li {
        float: left;
    }

    ul.navbar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    ul.navbar li a:hover {
        background-color: #111;
    }
</style>

<body>
    <nav>
        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register Employee</a></li>
            <li><a href="{{ url_for('employees') }}">Registered Employees</a></li>
            <li><a href="{{ url_for('wages') }}">Wages</a></li>
            <li><a href="{{ url_for('attendance') }}">Attendance</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
