{% extends 'base.html' %}

{% block content %}




<!DOCTYPE html>
<html>
<head>
    <title>Registered Employees</title>
</head>
<body>
    <h1>Registered Employees</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Employee Type</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.employee_type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

{% endblock %}
